@media print {
    .article-nav {
        display: none;
    }

    .pdf-form {
        display: none;
    }

    .article-post .abstract h2 {
        margin-top: 1em;
    } 

    .article-post code {
        background-color: transparent;
    }

    .article-post address {
        justify-content: center;
        flex-direction: row;
    }

    .article-post ul.references li {
        text-align: justify;
    }

    .article-post address>p {
        text-align: center;
        flex-direction: column;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .article-post address>p>span {
        padding-right: 0;
    }

    .article-post, .pageFooter {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 12pt;
    }

    .article-post table {
        margin: auto;
    }

    .article-post h1 {
        font-size: 20pt;
    }

    .article-post h2 {
        font-size: 17pt;
    }

    .article-post h3 {
        font-size: 14pt;
    }

    .article-post h4 {
        font-size: 12pt;
    }

    .article-post h1,
    .article-post h2,
    .article-post h3,
    .article-post h4 {
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    .article-post h1::after,
    .article-post h2::after,
    .article-post h3::after,
    .article-post h4::after {
        content: "";
        display: block;
        height: 100px;
        margin-bottom: -100px;
    }

    .article-post p {
        text-align: justify;
        hyphens: auto;
        -webkit-hyphenate-character: auto;
    }

    .article-post header h1 {
        text-align: center;
        font-size: 3em;
    }

    .article-post time {
        text-align: center;
        display: block;
    }

    .article-post .abstract-line {
        display: none;
    }

    .article-post div.abstract {
        width: 80%;
        margin: auto;
    }

    .article-post div.abstract h2 {
        text-align: center;
        font-size: 1.2em;
    }

    .article-post div.abstract h2::before {
        content: "";
    }

    .article-post div.abstract {
        padding-bottom: 2em;
    }

    @page {
        margin: 1in;
        size: A4;
    }
}