{% include header.html %}

<nav class="article-nav container mt-2 mb-3">
    <div class="row">
        <div class="col d-flex justify-content-start">
        {% if page.previous %}
            <a href="{{ page.previous.url | relative_url }}">Previous: {{ page.previous.title }}</a>
        {% endif %}
        </div>
        <div class="col d-flex justify-content-center"><a href="{{ site.url }}">All posts</a></div>
        <div class="col d-flex justify-content-start">
        {% if page.next %}
            <a href="{{ page.next.url | relative_url }}">Next: {{ page.next.title }}</a>
        {% endif %}
        </div>
    </div>
    <div class="row mt-3 pdf-form">
        <div class="col">
            <form action="https://url-to-pdf-api.herokuapp.com/api/render" method="get">
                <input type="hidden" name="url" value="{{ page.url | absolute_url}}" />
                <input type="hidden" name="emulateScreenMedia" value="false" />
                <input type="hidden" name="scrollPage" value="true" />
                <input type="hidden" name="pdf.displayHeaderFooter" value="true" />
                <input type="hidden" name="pdf.headerTemplate" value="<span></span>" />
                <input type="hidden" name="pdf.footerTemplate" value="<div style='font-family:&quot;Palatino Linotype&quot;, &quot;Book Antiqua&quot;, Palatino, serif; font-size:12px;text-align:center;margin:auto;'><span class='pageNumber'></span></div>" />
                <input type="hidden" name="pdf.margin.bottom" value="1in" />
                <input class="btn btn-primary" type="submit" value="Download as PDF" />
            </form>
        </div>
    </div>
</nav>
<article class="container article-post" lang="en">
    <header>
        <h1>{{ page.title }}</h1>
        {% if page.authors %}
        <address class="d-flex mb-0">
            {% for author in page.authors%}
                <p class="d-flex"><span>{{ author.name }}</span>{% if author.email %}<a href="mailto:{{ author.email }}">&lt;{{ author.email }}&gt;</a>{% endif %}</p>
            {% endfor %}
        </address>
        {% endif %}
        <time class="font-weight-light" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: site.dateformat }}</time>
    </header>
    <hr class="abstract-line"/>
    
    {% if page.abstract %}
        <div class="abstract">
            <h2>Abstract</h2>
            <div>{{ page.abstract | markdownify }}</div>
        </div>
        <hr class="abstract-line"/>
    {% endif %}
    {{ content }}
</article>

{% include footer.html %}